<div *ngIf="statusQueue; else cargando">
  <div class="container-fluid mt-3">
    <div class="col-12">
      <div class="table-responsive">
        <div class="divTable blueTable">
          <div class="divTableHeading">
            <div class="divTableRow">
              <div class="divTableHead text-center">Name</div>
              <div class="divTableHead text-center">Created</div>
              <div class="divTableHead text-center">Last Message</div>
              <div class="divTableHead text-center">Number Tasks</div>
              <div class="divTableHead text-center">Reference</div>
            </div>
          </div>
          @for (item of statusQueue; track $index) {
          <div class="divTableBody">
            <div class="divTableRow">
              <div class="divTableCell text-center">
                {{ item.name }}
              </div>
              <div class="divTableCell text-center">
                {{ item.createdAt }}
              </div>
              <div class="divTableCell text-center">
                {{ item.lastMessageReceivedAt }}
              </div>
              <div class="divTableCell text-center">
                {{ item.numberReceivedTasks }}
              </div>
              <div class="divTableCell text-center">
                {{ item.reference }}
              </div>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #cargando>
  <p>Cargando datos...</p>
</ng-template>
