<div *ngIf="queuesSummary; else cargando">
  <div class="container-fluid mt-3">
    <div class="col-12">
      <div class="table-responsive">
        <div class="divTable blueTable">
          <div class="divTableHeading">
            <div class="divTableRow">
              <div class="divTableHead text-center">Queues</div>
              <div class="divTableHead text-center">Number of Consumers</div>
              <div class="divTableHead text-center">Executions</div>
              <div class="divTableHead text-center">Module Status</div>
              <div class="divTableHead text-center">Actions</div>
            </div>
          </div>
          <ng-container *ngFor="let item of queuesSummary; let i = index">
            <ng-container *ngFor="let queue of filteredQueues; let j = index">
              <div class="divTableBody" *ngIf="i === j">
                <div class="divTableRow">
                  <div class="divTableCell text-center">{{ queue }}</div>
                  <div class="divTableCell text-center">
                    <div>
                      <button
                        class="btn btn-link"
                        (click)="
                          handleQueueClick(item.queueName, modalItemsComponent)
                        "
                      >
                        {{ item.numberConsumers }}
                      </button>
                    </div>
                  </div>
                  <div class="divTableCell text-center">
                    <div>
                      <button
                        class="btn btn-link"
                        (click)="
                          handleQueueClick(
                            item.queueName,
                            modalAllHistoryComponent
                          )
                        "
                      >
                        All History
                      </button>
                    </div>
                    @if(historyFinishedClose[item.queueName]) {
                    <div
                      *ngIf="
                        historyFinishedClose[item.queueName].length > 0 &&
                        historyFinishedClose[item.queueName][0].data.length > 0
                      "
                    >
                      <button
                        class="btn btn-link"
                        (click)="
                          handleQueueClick(
                            item.queueName,
                            modalExecutedComponent
                          )
                        "
                      >
                        Slow executions finished
                      </button>
                    </div>
                    } @if(historyProgressClose[item.queueName]) {
                    <div
                      *ngIf="
                        historyProgressClose[item.queueName].length > 0 &&
                        historyProgressClose[item.queueName][0].data.length > 0
                      "
                    >
                      <button
                        class="btn btn-link"
                        (click)="
                          handleQueueClick(
                            item.queueName,
                            modalInProgressComponent
                          )
                        "
                      >
                        Slow executions in progress
                      </button>
                    </div>
                    }
                  </div>
                  <div class="divTableCell text-center">
                    <span [ngSwitch]="item.moduleStatus">
                      <span *ngSwitchCase="'DISABLED'" class="no"
                        >DISABLED</span
                      >
                      <span *ngSwitchCase="'ENABLED'" class="yes">ENABLED</span>
                      <span *ngSwitchCase="'RUNNING'" class="running"
                        >RUNNING</span
                      >
                      <span *ngSwitchDefault>{{ item.moduleStatus }}</span>
                    </span>
                  </div>
                  <div class="divTableCell text-center">
                    <app-stop-queue-consumer-button
                      (refresh)="onRefresh1()"
                      [queue]="queue"
                    ></app-stop-queue-consumer-button>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #cargando>
  <p>Cargando datos...</p>
</ng-template>
