.text2 {
  text-align: left;
  margin-bottom: 0.2rem;
  margin-left: 3rem;
  color: rgb(78, 186, 210);
}
.unity {
  display: table-row;
}
.component {
  display: table-cell;
}
/* Estilos para el bot칩n con apariencia de enlace */
.btn-link {
  font-weight: 400;
  color: #007bff; /* Color azul por defecto de Bootstrap */
  text-decoration: none;
  background-color: transparent;
  border: none;
  padding: 0;
}

.btn-link:hover {
  color: #0056b3; /* Color m치s oscuro al pasar el mouse */
  text-decoration: underline;
}

.btn-disabled {
  color: #6c757d;
  pointer-events: none; /* Evita que se pueda hacer clic en el bot칩n */
  cursor: not-allowed; /* Cambia el cursor a no permitido */
  opacity: 0.65; /* Reduce la opacidad del bot칩n */
}
.loading-cursor {
  cursor: wait; /* Cambia el cursor a un reloj de arena o similar */
}
