.divTable {
  display: table;
  width: 100%;
  margin-bottom: 20px;
}
.divTableRow {
  display: table-row;
}

.divTableCell,
.divTableHead {
  border: 1px solid #63b8e0;
  display: table-cell;
  padding: 3px 10px;
}
.divTableHeading {
  background-color: #74b4e1;
  display: table-header-group;
  font-weight: bold;
  position: sticky;
  top: 0;
}
.divTableHead {
  background-color: rgba(77, 178, 14, 0.1);
  font-weight: bold;
}
.divTableFoot {
  background-color: #bbdbf3;
  display: table-footer-group;
  font-weight: bold;
}
.divTableBody {
  display: table-row-group;
}
.divTableText {
  display: table-cell;
  padding: 3px 10px;
}

.fondo {
  background: rgb(247, 241, 228);
}

.yes {
  color: green;
}
.running {
  color: rgba(236, 174, 19, 0.721);
}

.no {
  color: red;
}
.table-responsive {
  max-height: 70vh;
  overflow-y: auto;
}
.number-of-runs {
  width: 17%;
}
