<div class="textTittle text-center">MESSAGE ENGINE</div>
<hr />
<div class="row">
  <div class="col">
    <!-- SearchBox -->
    <shared-search-box
      (onDebounce)="onSearch($event)"
      placeholder="Search by type of consumers..."
    ></shared-search-box>
  </div>
  <div class="button">
    <div class="col">
      <app-start-button></app-start-button>
    </div>
  </div>
</div>
<app-table-message-engine
  [filteredQueues]="filteredQueues"
  [queuesSummary]="queuesSummary"
></app-table-message-engine>
