<div *ngIf="filteredJobs; else cargando">
  <div class="container-fluid mt-3">
    <div class="col-12">
      <div class="table-responsive">
        <div class="divTable">
          <div class="divTableHeading">
            <div class="divTableRow">
              <div class="divTableHead text-center">ID</div>
              <div class="divTableHead text-center">Last task</div>
              <div class="divTableHead text-center">Next execution</div>
              <div class="divTableHead text-center number-of-runs">
                Number of runs
              </div>
              <div class="divTableHead text-center">Status</div>
              <div class="divTableHead text-center">Job Actions</div>
              <div class="divTableHead text-center">Module Actions</div>
            </div>
          </div>

          <ng-container
            *ngFor="let jobId of filteredJobs | keyvalue; let j = index"
          >
            <div class="divTableRow">
              <div class="divTableCell">
                <div class="text-center">{{ jobId.key }}</div>
                <hr />
                <div class="text-center">
                  Started: {{ jobId.value.startedAt }}
                </div>
                <div class="text-center">
                  Started First Run: {{ jobId.value.firstRunAt }}
                </div>
              </div>
              <div class="divTableCell text-center">
                <div>Last Run Started:</div>
                <div>{{ jobId.value.lastRunStartedAt }}</div>
                <div>Last Run Ended:</div>
                <div>{{ jobId.value.lastRunEndedAt }}</div>
              </div>
              <div class="divTableCell text-center">
                {{ jobId.value.nextExecutionAt }}
              </div>
              <div class="divTableCell text-center number-of-runs">
                <div>
                  <button
                    class="btn btn-link"
                    (click)="handleQueueClick(jobId.key, modalHistory)"
                  >
                    {{ jobId.value.numberOfRuns }}
                  </button>
                </div>
                @if(historyFinished[jobId.key]) {
                <div
                  *ngIf="
                    historyFinished[jobId.key].length > 0 &&
                    historyFinished[jobId.key][0].history.length > 0
                  "
                >
                  <button
                    class="btn btn-link"
                    (click)="handleQueueClick(jobId.key, modalHistoryFinished)"
                  >
                    Slow executions finished
                  </button>
                </div>
                } @if(historyProgress[jobId.key]) {
                <div
                  *ngIf="
                    historyProgress[jobId.key].length > 0 &&
                    historyProgress[jobId.key][0].history.length > 0
                  "
                >
                  <button
                    class="btn btn-link"
                    (click)="handleQueueClick(jobId.key, modalHistoryProgresss)"
                  >
                    Slow executions in progress
                  </button>
                </div>
                }
              </div>
              <div class="divTableCell text-center">
                <span [ngSwitch]="jobId.value.jobStatus">
                  <span *ngSwitchCase="'STOPPED'" class="no">STOPPED</span>
                  <span *ngSwitchCase="'SCHEDULED'" class="yes">SCHEDULED</span>
                  <span *ngSwitchCase="'RUNNING'" class="running">RUNNING</span>
                  <span *ngSwitchDefault>{{ jobId.value.jobStatus }}</span>
                </span>
              </div>

              <div class="divTableCell text-center">
                <app-start-stop-remove-job
                  (refresh1)="onRefresh1()"
                  [jobId]="jobId.key"
                  [jobStatus]="jobId.value.jobStatus"
                  [jobStarted]="jobId.value.startedAt"
                  [moduleStatus]="jobId.value.moduleStatus"
                ></app-start-stop-remove-job>
              </div>
              <div class="divTableCell text-center">
                <app-enable-disable-job
                  (refreshEnableDisable)="onRefresh2()"
                  [jobId]="jobId.key"
                  [moduleStatus]="jobId.value.moduleStatus"
                ></app-enable-disable-job>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #cargando>
  <p>Cargando datos...</p>
</ng-template>
