 <div *ngIf="jobsId; else cargando">
    <div class="container mt-3">
        <div class="row">
          <div class="col-lg-12 mx-auto">
        <div class="divTable blueTable">
        <div class="divTableHeading">
          <div class="divTableRow">
            <div class="divTableHead text-center">ID</div>
            <div class="divTableHead text-center">Last task</div>
            <div class="divTableHead text-center">Next execution</div>
            <div class="divTableHead text-center">Number of runs</div>
            <div class="divTableHead text-center">Status</div>
            <div class="divTableHead text-center">Job Actions</div>
            <div class="divTableHead text-center">Module Actions</div>
          </div>
        </div>
        @for(job of jobsId.data.jobsSummary| keyvalue; track $index){
        <div class="divTableBody">
          <div class="divTableRow">
            <div class="divTableCell">
              <div class="text-center" >

                {{ job.key }}
              </div>
              <div>Started:</div>
                <div class="text-center">
                  {{ job.value.startedAt }}
                </div>

              <div>Started First Run:</div>
                <div class="text-center">
                  {{ job.value.firstRunAt }}
                </div>

            </div>
            <div class="divTableCell text-center">
              <div>
                {{ job.value.lastRunStartedAt }}
              </div>
              <div>
                {{ job.value.lastRunEndedAt }}
              </div>
            </div>
            <div class="divTableCell text-center">{{ job.value.nextExecutionAt }}</div>
            <div class="divTableCell text-center">
              <div >
                <button class="btn btn-link" (click)="obtenerId(job.key)">{{ job.value.numberOfRuns }}</button>
              </div>
            </div>
            <div class="divTableCell text-center">
                <span *ngIf="job.value.jobStatus  === 'STOPPED'" class="no">STOPPED</span>
                <span *ngIf="job.value.jobStatus === 'SCHEDULED'"class="yes">SCHEDULED</span>
                <span *ngIf="job.value.jobStatus === 'DONE'" class="done">DONE</span>

            </div>
            <div class="divTableCell text-center">
              <app-start-stop-remove-job (refreshStart)="onRefresh()" (refreshStop)="onRefresh()"
              (refreshRemove)="onRefresh()" [jobId]="job.key" [jobStatus]="job.value.jobStatus"></app-start-stop-remove-job>
          </div>
          <div class="divTableCell text-center">
            <app-enable-disable-job (refreshEnable)="onRefresh()" (refreshDisable)="onRefresh()" [jobId]="job.key" [moduleStatus]="job.value.moduleStatus"></app-enable-disable-job>
        </div>
          </div>
        </div>
      }
        </div>
        </div>
    </div>
    </div>

    </div>

    <ng-template #cargando>
      <p>Cargando datos...</p>
    </ng-template>


