<div *ngIf="statusQueue; else cargando">
  <div class="container-fluid mt-3">
    <div class="col-12">
      <div class="table-responsive">
        <div class="divTable blueTable">
          <div class="divTableBody">
            <ng-container *ngFor="let item of statusQueue; let i = index">
              <div class="divTableRow">
                <div class="divTableCell">
                  <div class="divTableHead text-center">
                    Name: {{ item.name }}
                  </div>

                  <div>Created At: {{ item.createdAt }}</div>
                  <div>Last Execution At: {{ item.lastExecutionAt }}</div>
                  <div>
                    Last Message Received At: {{ item.lastMessageReceivedAt }}
                  </div>
                  <div>
                    Number Received Tasks: {{ item.numberReceivedTasks }}
                  </div>
                  <div>Reference: {{ item.reference }}</div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #cargando>
  <p>Cargando datos...</p>
</ng-template>
