<div class="fondo">
  <div class="modal-header">
    <div class="textTittle2">Consumers</div>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    ></button>
  </div>

  <div class="modal-body">
    <app-stop-queue-consumer-button></app-stop-queue-consumer-button>
    <app-table-items
      [queue]="queue"
      [statusQueue]="statusQueue"
    ></app-table-items>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="activeModal.close('Close click')"
    >
      Close
    </button>
  </div>

  <ng-template #cargando>
    <p>Cargando datos...</p>
  </ng-template>
</div>
