<div class="fondo">
  <div *ngIf="historyFinished; else cargando">
    <div class="modal-header">
      <div class="textTittle2">Slow executions finished</div>
      <div class="refresh-button-container">
        <button class="refresh-button" (click)="refreshData()">
          <i class="fas fa-sync-alt"></i>
        </button>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="activeModal.dismiss('Cross click')"
        ></button>
      </div>
    </div>

    <div class="modal-body">
      <div class="textTittle2">20 late executions: {{ queue }}</div>
      <app-table-executed
        [historyFinished]="historyFinished"
        [queue]="queue"
      ></app-table-executed>
    </div>

    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="activeModal.close('Close click')"
      >
        Close
      </button>
    </div>
  </div>

  <ng-template #cargando>
    <p>Cargando datos...</p>
  </ng-template>
</div>
