.divTable {
  display: table;
  width: 100%;
  margin-bottom: 20px;
}
.divTableRow {
  display: table-row;
}
.divTableHeading {
  background-color: #c24949;
  display: table-header-group;
}
.divTableCell,
.divTableHead {
  border: 1px solid #63b8e0;
  display: table-cell;
  padding: 3px 10px;
}
.divTableHeading {
  background-color: #74b4e1;
  display: table-header-group;
  font-weight: bold;
}
.divTableHead {
  background-color: rgba(77, 178, 14, 0.1);
  font-weight: bold;
}
.divTableFoot {
  background-color: #bbdbf3;
  display: table-footer-group;
  font-weight: bold;
}
.divTableBody {
  display: table-row-group;
}
.divTableText {
  display: table-cell;
  padding: 3px 10px;
}

.textTittle2 {
  text-align: left;
  color: rgb(78, 186, 210);
  font-size: 20px;
}

.error-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.error-link:hover {
  color: darkblue;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(247, 241, 228);
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-details {
  background: rgb(247, 241, 228);
  padding: 20px;
  border-radius: 5px;
}

.close-button {
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.top-right {
  position: absolute;
  top: 10px;
  right: 10px;
}

.bottom-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.table-container {
  position: relative;
  padding: 30px;
}

.margin {
  margin-left: 131.5%;
}
.close-button {
  background: rgb(247, 241, 228);
  color: rgb(0, 0, 0);
  border: 1px solid black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.close-button-X {
  background: rgb(247, 241, 228);
  color: rgb(0, 0, 0);
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.button-container {
  display: flex;
  justify-content: flex-end;
  margin-left: auto; /* Empuja los botones hacia la derecha */
}
