<div class="container-fluid mt-3">
  <div class="col-12">
    <div class="table-responsive">
      <div class="divTable blueTable">
        <div class="divTableHeading">
          <div class="divTableRow">
            <div class="divTableHead text-center">Message Id</div>
            <div class="divTableHead text-center">Started</div>
            <div class="divTableHead text-center">Executed</div>
            <div class="divTableHead text-center">Time</div>
          </div>
        </div>
        @for (historial of historyFinished; track $index) {
        <div class="divTableBody">
          <div class="divTableRow">
            <div class="divTableCell text-center">
              {{ historial.messageId }}
            </div>
            <div class="divTableCell text-center">
              {{ historial.messageExecutionStartedAt }}
            </div>
            <div class="divTableCell text-center">
              {{ historial.messageExecutedAt }}
            </div>
            <div class="divTableCell text-center">
              {{
                historial.messageExecutionTimeInMilliseconds
                  | millisecondsToTime
              }}
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</div>
