h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.fa-solid {
  cursor: pointer;
}
.text {
  text-align: left;
  margin-bottom: 0.2rem;
  margin-left: 3rem;
  color: rgb(78, 186, 210);
}
.text2 {
  text-align: left;
  margin-bottom: 0.2rem;
  margin-left: 3rem;
  color: rgb(78, 186, 210);
}

.unity {
  display: table-row;
}

.component {
  display: table-cell;
}
.textTittle {
  text-align: left;
  margin-bottom: 0.2rem;
  margin-left: 3rem;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

option {
  background: rgb(48, 151, 174);
  color: black;
}
.header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(48, 151, 174);
  color: #fff;
  padding: 10px;
}

#interval {
  background: rgb(48, 151, 174);
  color: black;
  padding: 5px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  height: 40px;
}
.header-left {
  display: flex;
  align-items: center;
}
.header-right {
  display: flex;
  align-items: center;
}
.refresh-button {
  background: rgb(48, 151, 174);
  color: black;
  padding: 5px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  height: 40px;
}
.header-left nav a {
  color: black;

  text-decoration: none;
  font-size: 20px;
}

.header-left nav a.active {
  color: black;
  font-weight: bold;
  pointer-events: none;
  cursor: default;
  font-size: 20px;
}
.header-left nav span {
  color: black;
  /* margin: 0 8px; */
  font-size: 20px;
}
.unity button {
  margin-left: 40px; /* Ajusta este valor según el espacio deseado */
}
.component {
  display: table-cell;
}
/* Estilos para el botón con apariencia de enlace */
.btn-link {
  font-weight: 400;
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  border: none;
  padding: 0;
}

.btn-link:hover {
  color: #0056b3; /* Color más oscuro al pasar el mouse */
  text-decoration: underline;
}
.loading-cursor {
  cursor: wait; /* Cambia el cursor a un reloj de arena o similar */
}
