h1 {
	text-align: center;
	margin-bottom: 1rem;
}

.fa-solid
{
	cursor: pointer;
}
.text { text-align:left;
	      margin-bottom:0.2rem;
        margin-left:3rem;
        color: rgb(78, 186, 210);
      }
.text2 { text-align:left;
	      margin-bottom:0.2rem;
        margin-left:3rem;
        color: rgb(78, 186, 210);
      }
.textTittle { text-align:left;
	      margin-bottom:0.2rem;
        margin-left:3rem;
        color: rgb(78, 186, 210);
        font-size: 40px;
      }

.unity { display: table-row; }

.component {  display: table-cell }

