<div *ngIf="jobsId; else cargando">
  <div class="textTittle text-center">SCHEDULER</div>
  <hr />
  <div class="text">
    <div>Started: {{ jobsId.data.schedulerStats.startedAt }}</div>
    <div>Min Threads: {{ jobsId.data.schedulerStats.minThreads }}</div>
    <div>Max Threads: {{ jobsId.data.schedulerStats.maxThreads }}</div>
  </div>
  <hr />
  <shared-search-box-id
    (onDebounce)="onSearch($event)"
    placeholder="Search by id..."
  ></shared-search-box-id>
  <app-start-all-job (refreshAll)="startAllJob()"></app-start-all-job>
  <app-table
    (refreshJob)="handleJobOperation('refreshJob')"
    (enableDisableJob)="handleJobOperation('enableDisable')"
    [jobsId]="jobsId"
    [jobs]="jobs"
    [filteredJobs]="filteredJobs"
  ></app-table>
</div>

<ng-template #cargando>
  <p>Cargando datos...</p>
</ng-template>
